
Homework/SQL/QuickDBD-Free Diagram.png
Homework/.DS_Store
Homework/API/.ipynb_checkpoints/WeatherPy-checkpoint.ipynb
Homework/API/api_keys.py
Homework/API/__pycache__/api_keys.cpython-36.pyc
Homework/API/Cloudiness_vs_Latitude.png
Homework/API/Humidity_vs_Latitude.png
Homework/API/Max_Temp_vs_Latitude.png
Homework/API/weather_data.csv
Homework/API/WeatherPy.ipynb
Homework/API/Wind_Speed_vs_Latitude.png
Homework/SQL/data/departments.csv
Homework/SQL/data/dept_emp.csv
Homework/SQL/data/dept_manager.csv
Homework/SQL/data/employees.csv
Homework/SQL/data/salaries.csv
Homework/SQL/data/titles.csv
Homework/SQL/QuickDBD-Free Diagram copy.sql
